.slider {
    height: 514px;
    max-width: 912px;
    overflow: hidden;
}

.carousel {
    width: 100%;
    height: 100%;
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-y: scroll; 
}

.carousel::-webkit-scrollbar {
    display: none;
}

.carousel__item {
    padding: 24px 0;
}

.carousel__item:nth-child(1) {
    padding-top: 0;
}

.carousel__item:nth-child(16) {
    padding-bottom: 0;
}

.carousel__img {
    max-width: 100%;
    height: auto;
}

@media screen and (max-width: $md) {
    .carousel__item {
        display: flex !important;
        justify-content: center;
    }
}