$grid-columns:                8;
$grid-gutter-width:           24px;

$sm: 576px;
$md: 769px;
$lg: 992px;
$xl: 1200px;
$xll: 1300px;
$xxl: 1400px;
$xxll: 1500px;

$dark: #2d3436;
$dark-grey: #5E5C61;
$white: #FFFFFF;
$yellow: #FFE600;
$turquoise: #0DF4E7;
$red-light: #D2295A;

$container-max-widths: (
  sm: 540px,
  md: 1100px,
  lg: 1195px,
  xl: 1200px,
  xxl: 1224px
);

$spacer: 1rem;

$gutters: (
  0: 0,
  1: $spacer * .25,
  2: $spacer * .5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
);

@import "../../../node_modules/bootstrap/scss/bootstrap-grid.scss";