$grid-columns:                8;
$grid-gutter-width:           24px;

$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

@import "../../node_modules/bootstrap/scss/bootstrap-grid.scss";
// 1248 / 8 = 156 - 24 = 132