@import "style/_variable.scss";
@import "style/_mixin.scss";
@import "style/_font.scss";
@import "style/reset";

* {
    color: $white;
}

footer {
    text-align: center;
    margin: 48.5px 0px 24px 0px;
}

p {
    font-family: Agency;
    font-weight: 400;
    font-size: 22px;
    line-height: 140%;
    letter-spacing: 0.32em;
    text-transform: none;
}

a:link {
    text-decoration: none;
}

body {
    margin: 0;
    font-size: 16px;
}