@import "./style/main.scss";

html {
    background-image: url(../assets/images/background-experience.png);
}

.experience {
    position: relative;
    margin-top: 66px;
}

header {
    margin-bottom: 68px;
}

.logo {
    height: 56px;
    display: flex;
}

.logo__text {
    display: -webkit-flex;
    display: flex;
    align-items: center;
    margin-left: 16px;
}

.logo__text-title {
    font-size: 30px;
    line-height: 36px;
    letter-spacing: 0.2em;
    text-align: left;

}

.social {
    width: 264px;
    height: 48px;
    display: flex;
    justify-content: space-between;
}

.social__avatar {
    background-image: url(../assets/svg/avatar.svg);
    height: 48px;
    width: 48px;
}

.social__telegram {
    background-image: url(../assets/svg/telegram.svg);
    height: 48px;
    width: 48px;
}

.social__telegram:hover {
    background-color: $dark-grey;
}

.social__linkedin {
    background-image: url(../assets/svg/linkedin.svg);
    height: 48px;
    width: 48px;
}

.social__linkedin:hover {
    background-color: $dark-grey;
}

.social__be {
    background-image: url(../assets/svg/be.svg);
    height: 48px;
    width: 48px;
}

.social__be:hover {
    background-color: $dark-grey;
}

.logo__title {
    margin-left: 16px;
    font-size: 30px;
    line-height: 36px;
    letter-spacing: 0.2em;
    text-align: left;
}

.info__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.info__content-image {
    width: 306px;
    height: 45px;
}

.info__content-text {
    font-size: 22px;
    font-weight: 400;
    line-height: 44px;
    letter-spacing: 0.07em;
    text-align: left;
}

.button {
    display: flex;
}

.button__main {
    height: 48px;
    width: 248px;
    margin-top: 24px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-image: url(../assets/svg/buttonsTexture.svg);
    background-size: cover;
    background-position: center;
    border: 0.5px solid $dark-grey;
}

.button__main:hover {
    background-color: $dark-grey;
}

.button__main-image {
    width: 24px;
    height: 24px;
}

.button__main-text {
    margin-left: 16px;
}

.jobs {
    margin-top: 64px;
}

.block {
    display: flex;
    height: 80px;
    width: 288px;
}

.block__text {
    margin-left: 16px;
}

.text__title {
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0.2em;
    text-align: left;
    white-space: nowrap;
    margin: 0px;
}

.text__subtitle {
    font-size: 22px;
    font-weight: 400;
    line-height: 44px;
    letter-spacing: 0.07em;
    text-align: left;
    white-space: nowrap;
    margin: 0px;
}

.wrap__mobile {
    margin-top: 48px;
    display: flex;
    justify-content: center;
}

.mobile__social {
    width: 264px;
    height: 48px;
    display: flex;
    justify-content: space-between;
}

footer {
    margin-top: 198px;
}


@media screen and (min-width: $md) {
    .social {
        position: absolute;
        top: 0px;
        right: 12px;
    }

    .wrap__mobile {
        display: none;
    }
}

@media screen and (min-width: $lg) {
    .wrap__right {
        display: flex;
        justify-content: flex-end;
    }

    .wrap__center {
        display: flex;
        justify-content: center;
    }
}

@media screen and (max-width: $md){
    .social {
        display: none;
    }

    .jobs {
        margin-top: 48px;
    }

    footer {
        margin-top: 32px;
    }
}