@import "./style/_main.scss";
@import "./style/_slick.scss";

html {
    background-image: url(../assets/images/background-works.png);
}

footer {
    margin-top: 30px;
}

.works {
    position: relative;
    margin-top: 66px;
}

header {
    margin-bottom: 96px;
}

.logo {
    height: 56px;
    display: flex;
}

.logo__text {
    display: -webkit-flex;
    display: flex;
    align-items: center;
    margin-left: 16px;
}

.logo__text-title {
    font-size: 30px;
    line-height: 36px;
    letter-spacing: 0.2em;
    text-align: left;
}

.social {
    width: 264px;
    height: 48px;
    display: flex;
    justify-content: space-between;
}

.social__avatar {
    background-image: url(../assets/svg/avatar.svg);
    height: 48px;
    width: 48px;
}

.social__telegram {
    background-image: url(../assets/svg/telegram.svg);
    height: 48px;
    width: 48px;
}

.social__telegram:hover {
    background-color: $dark-grey;
}

.social__linkedin {
    background-image: url(../assets/svg/linkedin.svg);
    height: 48px;
    width: 48px;
}

.social__linkedin:hover {
    background-color: $dark-grey;
}

.social__be {
    background-image: url(../assets/svg/be.svg);
    height: 48px;
    width: 48px;
}

.social__be:hover {
    background-color: $dark-grey;
}

.side-top {
    width: 100%;
    height: 14px;
    background-image: url(../assets/svg/frameUp.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top;
}

.side-down {
    width: 100%;
    height: 14px;
    background-image: url(../assets/svg/frameDown.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
}

.gallery {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.slick {
    max-height: 514px;
    margin: 24px 0px;
}

.slick-img {
    width: inherit;
}

.stage-dots {
    height: 4px;
    margin: 24px 0px;
    position: relative;
    display: flex;
    justify-content: center;
    align-content: center;
}

.button {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button__main {
    height: 48px;
    width: 248px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../assets/svg/buttonsTexture.svg);
    background-size: cover;
    background-position: center;
    border: 0.5px solid $dark-grey;
    cursor: pointer;
}

.button__main:hover {
    background-color: $dark-grey;
}

.button__main-image {
    width: 24px;
    height: 24px;
}

.button__main-text {
    margin-left: 16px;
}

.wrap__mobile {
    margin-top: 48px;
    display: flex;
    justify-content: center;
}

.mobile__social {
    width: 264px;
    height: 48px;
    display: flex;
    justify-content: space-between;
}

@media screen and (min-width: $md){
    .social {
        position: absolute;
        top: 0px;
        right: 12px;
    }

    .wrap__mobile {
        display: none;
    }
}

@media screen and (max-width: $md) {
    .social {
        display: none;
    }

    .slick-img {
        padding: 10px 0;
        width: 328px;
        height: 184px;
    }

    .side-top {
        background-image: url(../assets/svg/mobileFrameUp.svg);
    }

    .side-down {
        background-image: url(../assets/svg/mobileFrameDown.svg);
    }
}

@keyframes backgroundChange {
    0% { opacity: 0; }
    100% { opacity: 1; }
}